[submodule "libs/websockets"]
	path = libs/websockets
	url = https://github.com/machinezone/IXWebSocket
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt
[submodule "libs/cxxopts"]
	path = libs/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "test/gtest/lib"]
	path = test/gtest/lib
	url = https://github.com/google/googletest
[submodule "test/lib"]
	path = test/lib
	url = https://github.com/google/googletest
[submodule "libs/eventpp"]
	path = libs/eventpp
	url = https://github.com/wqking/eventpp
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "libs/magic_enum"]
	path = libs/magic_enum
	url = https://github.com/Neargye/magic_enum
[submodule "libs/cryptopp-cmake"]
	path = libs/cryptopp-cmake
	url = https://github.com/abdes/cryptopp-cmake
[submodule "libs/date"]
	path = libs/date
	url = https://github.com/HowardHinnant/date
[submodule "libs/merklecpp"]
	path = libs/merklecpp
	url = https://github.com/microsoft/merklecpp
