[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json
[submodule "libs/fmt"]
	path = libs/fmt
	url = https://github.com/fmtlib/fmt
[submodule "libs/cxxopts"]
	path = libs/cxxopts
	url = https://github.com/jarro2783/cxxopts
[submodule "test/gtest/lib"]
	path = test/gtest/lib
	url = https://github.com/google/googletest
[submodule "test/lib"]
	path = test/lib
	url = https://github.com/google/googletest
[submodule "libs/eventpp"]
	path = libs/eventpp
	url = https://github.com/wqking/eventpp
[submodule "libs/spdlog"]
	path = libs/spdlog
	url = https://github.com/gabime/spdlog
[submodule "libs/cryptopp-cmake"]
	path = libs/cryptopp-cmake
	url = https://github.com/abdes/cryptopp-cmake
[submodule "libs/libdatachannel"]
	path = libs/libdatachannel
	url = https://github.com/paullouisageneau/libdatachannel/
[submodule "libs/merklecpp"]
	path = libs/merklecpp
	url = https://github.com/KrapiOrg/merklecpp
[submodule "libs/IXWebSocket"]
	path = libs/IXWebSocket
	url = https://github.com/KrapiOrg/IXWebSocket
[submodule "libs/random"]
	path = libs/random
	url = https://github.com/effolkronium/random
[submodule "libs/stduuid"]
	path = libs/stduuid
	url = https://github.com/mariusbancila/stduuid
[submodule "libs/leveldb"]
	path = libs/leveldb
	url = https://github.com/google/leveldb
[submodule "libs/expected"]
	path = libs/expected
	url = https://github.com/TartanLlama/expected
[submodule "libs/concurrencpp"]
	path = libs/concurrencpp
	url = https://github.com/David-Haim/concurrencpp
